html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

p {
  padding: 0;
  margin: 0;
}

a,
a:focus,
a:active,
a:visited {
  outline: none;
  text-decoration: none;
  color: black;

  &:hover {
    color: grey;
  }
}

.content {
  width: 100%;
  flex: 1 0 auto;
  padding-left: 50px;
  background-color: rgb(226, 226, 226);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.hidden {
  display: none;
}

.delete > a {
  color: red;
}

.edit > a {
  color: green;
}
